<!-- remote modal -->
<div class="modal fade" id="@ViewData["modalID"]" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: @ViewData["modalWidth"]">
        <div class="modal-content">
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $(document).on("hidden.bs.modal", "#@ViewData["modalID"]", function (e) {
        $(e.target).removeData("bs.modal").find(".modal-content").empty();
    });
});
</script>