@model Ormawa.ViewModel.UploadViewModel
<h1>Home Page</h1>

<div>
    <h4>Multiple File Upload</h4>
    <form role="form" enctype="multipart/form-data" method="post" asp-controller="Upload" asp-action="MultipleFiles">
        <input asp-for="FileDokumen" type="file" />
        <input asp-for="Nama"/>
        <button type="submit">Submit</button>
    </form>
</div>