@model Ormawa.ViewModels.DaftarPublikasiOrmawaViewModel

@{
    ViewData["Title"] = "Create";
}
@*<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>*@
<!-- Content Header (Page header) -->
<script src="~/lib/ckeditor/ckeditor.js"></script>
<!DOCTYPE html>

<head>
    Publikasi Ormawa
</head>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="DaftarPublikasi" asp-action="Add" method="post">
            <label class="control-label">Ormawa</label>
            @Html.DropDownListFor(model => model.OrganisasiOrmawaId, Model.ListOrmawa, "..Pilih Ormawa..", new { @class = "form-control select2 cari-ormawa" })
            <span asp-validation-for="OrganisasiOrmawaId" class="text-danger"></span>

            @*<label class="control-label">Tanggal Publikasi</label>
                <input asp-for="TanggalInsert" class="form-control" type="date" />
                <span asp-validation-for="TanggalInsert" class="text-danger"></span>*@

            <div class="box-body col-md-6">
                <textarea asp-for="Judul" class="textarea" placeholder="Title"
                          style="height: 50px; font-size: 35px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>

                <textarea id="CKeditor" asp-for="Isi" class="textarea" placeholder="Place some text here"
                          style="height: 450px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
</div>
<script>
    CKEDITOR.replace("CKeditor");
</script>
